.display {
	width: 80%;
	min-width: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.15rem;
}
.display span:nth-child(1) {
	font-weight: bold;
}
.display span:nth-child(2) {
	font-size: 0.8rem;
}
