.job {
	width: 10%;
	min-width: 6rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.job span {
	font-size: 0.8rem;
	padding: 0.2rem 1rem;
	border-radius: 1rem;
	color: white;
}
.teacher {
	background-color: red;
}
.student {
	background-color: green;
}
.other {
	background-color: blue;
}
