.wrapper {
	position: relative;
}
.wrapper:focus-within .input {
	color: black;
	box-shadow: 1px 1px 1rem gray;
}
.wrapper:focus-within .icon {
	color: black;
}
.input {
	appearance: none;
	border: none;
	outline: none;
	height: 2rem;
	border-radius: 1rem;
	padding: 0 1rem 0 3rem;
	box-shadow: 1px 1px 0.5rem gray;
}
.input:not(::placeholder) {
	color: black;
}
.input:not(:focus):not(::placeholder) {
	color: black;
}
.icon {
	position: absolute;
	height: 90%;
	width: cover;
	top: 0.1rem;
	left: 0.75rem;
	color: gray;
	pointer-events: none;
}
